.logo {
    margin: 2.5px;
    height: 45px;
    border-radius: 30px;
    transition: height 0.5s;

}
.logo:hover{
    height: 600px;

    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 50px;
    border: 1px;
    background-color: white;
    border-color: grey;
    border-bottom-style: solid;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px grey;
}

.header_left{
    width: auto;
}

.header_left h1{
    margin: 0px;
    color: darkblue;
}

.header_center{
    display: grid;
    grid-template-columns: 60px 1fr;
    flex: 1;
    margin-left: 40px;
    margin-right: 30px;
    max-width: 400px;
    min-width: 60px;
}

.title{
    font-family: roboto, Arial;
    font-size: 40px;
    font-weight:500;
    border: 0px;
    background: none;
    transition: color 0.3s;
}
.title:hover{
    color: rgb(2, 151, 244);
}

.header_right{
    width: 200px;
}

.LogIn-button{
    font-size: 15px;
    margin: 5px;
    padding: 8px;
    border: 5px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 3px 5px 5px darkgray;
    transition: background-color 0.45s, color 0.45s;
}
.LogIn-button:hover{
    background-color: white;
    color: rgb(2, 151, 244);
}